<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="banwol.com.mapper.ContactMapper">
	<select id="getNextSeqNo"  resultType="int">
		select ifnull(max(SEQ_NO)+1, 1) from bnwl_contact
	</select>	
	
	<insert id="contactUs" parameterType="ContactVo" >
		insert 
		  into bnwl_contact
	    values (
		     #{seqNo}
		   , #{name}
		   , #{phone}
		   , #{subject}
		   , #{contents}
		   , now()
		   , false
		  ) 
	</insert>	
	

</mapper>


	